@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    --primary-orange: hsl(26, 100%, 55%);
    --Primary-Pale-Orange: hsl(25, 100%, 94%);

    --Neutral-Very-Dark-Blue: hsl(220, 13%, 13%);
    --Neutral-Dark-Grayish-Blue: hsl(219, 9%, 45%);
    --Neutral-Grayish-Blue: hsl(220, 14%, 75%);
    --Neutral-Light-Grayish-Blue: hsl(223, 64%, 98%);
    --Neutral-White: hsl(0, 0%, 100%);
    --Neutral-Black: hsl(0, 0%, 0%);
    --Neutral-White-HexCode: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article.main-desc {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    /* font-size: 200px; */
}

section.add-order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: var(--Neutral-Light-Grayish-Blue);
    padding-bottom: 1rem;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

button.add-cart {
    background: var(--primary-orange);
    color: var(--Neutral-White);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-family: 'Kumbh Sans', sans-serif;
    width: 90%;
    border-radius: 0.5rem;
    border: none;
}

button.add-cart:hover {
    cursor: pointer;
}



h2.discount-price {
    /* display: inline-block; */
}

p.discount-percentage {
    background: var(--Primary-Pale-Orange);
    /* display: inline-block; */
    color: var(--primary-orange);
}

s.normal-price {
    color: var(--Neutral-Dark-Grayish-Blue);
}


.cart-icon-button {
    fill: var(--Neutral-White);
}

nav>a {
    display: none;
}

/* nav > p */

.pict-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.discount {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

section.button-cart {
    display: flex;
    justify-content: center;
}

section.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scroll-behavior: smooth;
}

/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}